<header class="page-heading">
    <div class="container">
        <h1><%= Refinery::Core.site_name %></h1>
        <p><%= raw @page.content_for(:subtitle) %></p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card sb-card">
                <div class="card-body home-intro">
                    <%= raw @page.content_for(:intro) %>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card sb-card">
                <div class="card-body prices table table-hover">
                    <h4>Наши цены</h4>
                    <p class="mb-0">
                        <%= raw @page.content_for(:prices) %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

