<%= render_content_page(@page, {
      :hide_sections => local_assigns[:hide_sections],
      :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
    }) %>
<%= render '/refinery/draft_page_message' if @page && @page.draft? -%>
<%= render '/refinery/skip_to_first_child_page_message' if @page && @page.skip_to_first_child? -%>
