<footer>
  <div class="footer-mailchimp">
    <div class="container text-center">
      <h2><%= ::Refinery::Setting.find_or_set(:footer_tagline, "Начать учиться легко!") %></h2>

      <h5><a class="contact-link" href="/contact" ><%= ::Refinery::Setting.find_or_set(:footer_call, "Оставьте нам свой телефон и мы перезвоним") %></a></h5>
    </div>
  </div>

  <div class="footer-main">
    <div class="container">
      <%= ::Refinery::Setting.find_or_set(:footer_copyright, "©2017 АНО ПО «КЕРЧЕНСКАЯ АШ КРОО ДОСААФ»") %>
    </div>
  </div>
</footer>
