$bg0: #40ad6f;


header.page-heading {
    background-image: image-url("angled-bays.jpg");
    background-color: rgba(205,255,235,0.85);
    background-blend-mode: lighten;

    h1,p {
        color: black;
    }
}

.prices {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.14em;

    table {
        width: 100%;
        margin-top: 1.2em;
    }
    margin-bottom: 0;
}

section#body_content {
    h1#body_content_title {
        margin-top: 0.6em;
    }
}

.post-body {
    margin-top: 0.6em;
}

div#show_blog_post {
    margin-bottom: 1em;
    .card-body p {
        margin-bottom: 0;
    }
}

footer .footer-mailchimp {
    background-color: $bg0;
}

.btn-primary {
    background-color: $bg0;
    border-bottom: 3px solid #2e8751;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #409263;
    border-bottom: 3px solid #2e8751;
    box-shadow: none;
}

.btn-primary.active:not([disabled]):not(.disabled), .btn-primary:active:not([disabled]):not(.disabled), .show > .btn-primary.dropdown-toggle {
    background-color: #326648;
    border-bottom: 3px solid #2e8751;
    box-shadow: 0 0 0 3px rgba(77,184,69,0.5)
}

a {
    color: #236e49;
}
a:hover, a:active, a:focus {
    color: #236e49;
}

a.contact-link {
    color: white;
    text-decoration: underline;
}

a.contact-link:hover {
  color: white;
    text-decoration: none;
}

.inquiries {
    margin-bottom: 1em;
}

.form-control:focus {
    border-color: #569f69;
}

section#gallery {
  margin-bottom: 1em;
}

.turbolinks-progress-bar {
  background-color: $bg0;
}

