<%= form_for [refinery, :inquiries, inquiry] do |f| %>
  <%= render :partial => "/refinery/admin/error_messages",
             :locals => {
               :object => inquiry,
               :include_object_name => true
             } %>

  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.text_field :name, :class => 'form-control', :required => 'required',
        :placeholder => (t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.email_field :email, :class => 'form-control', :required => 'required',
        :placeholder => (t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
    </div>
  </div>
  <div class="form-group row">
    <% if Refinery::Inquiries.show_phone_number_field %>
      <div class="col-sm-6">
        <%= f.text_field :phone, :class => 'form-control',
          :placeholder => (t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
      </div>
    <% end %>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.text_area :message, :rows => 8, :required => 'required', :class => 'form-control',
        :placeholder => (t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
    </div>
  </div>

  <% if Refinery::Inquiries.recaptcha_site_key.present? %>
    <% content_for :javascripts do %>
      <script src='https://www.google.com/recaptcha/api.js'></script>
    <% end %>
    <div class='field captcha'>
      <div class="g-recaptcha" data-sitekey="<%= Refinery::Inquiries.recaptcha_site_key %>"></div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.send') %>
  </div>
<% end %>
