<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <% if ::Refinery::Setting.find_or_set(:under_construction, false) %>
    <h1><%= ::Refinery::Setting.find_or_set(:under_construction_text, "Сайт в разработке.") %></h1>
  <% else %>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans&amp;subset=cyrillic" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <%= render "/refinery/head" %>
      <%= render "/refinery/javascripts" %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
      <%= site_bar -%>
      <div id="page_container">
        <header id="header" role="banner">
          <%= render "/refinery/header" -%>
        </header>
        <main id="page" role="main">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <%= yield %>
              </div>
            </div>
          </div>
        </main>
        <footer role="contentinfo">
          <%= render "/refinery/footer" -%>
        </footer>
      </div>
    </body>
  <% end %>
</html>
